<div class="hero vh-100 vw-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4">
          WE’RE ON A MISSION TO BE WORLD’S BEST BUSINESS BANK
        </h1>
        <p>
          Whether you’re looking to build, buy or expand your business, let our
          team at Live NevooP Bank be your guide. When you bank with us, it
          means your money is fueling the growth of small businesses across the
          country.
        </p>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" href="">Know More</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" href="">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
