<!-- <div class="container border">
  <div class="row">
    <div class="col-6">
      <h2 class="h1">{{ name }}</h2>
    </div>
    <div class="col">
      <div class="text-end">
        <i class="bi bi-x-circle-fill btn rounded" (click)="close()"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pb-3">
      <table class="table table-borderless table-striped-columns">
        <tbody>
          <tr *ngIf="offer?.annualFee">
            <th *ngIf="offer?.annualFee">Annual Fee</th>
            <td>$ {{ offer?.annualFee }}</td>
          </tr>
          <tr *ngIf="offer?.interestRate">
            <th>Interest Rate</th>
            <td>{{ offer?.interestRate }} %</td>
          </tr>
          <tr *ngIf="offer?.intFreeCash">
            <th>Interest Free Cash</th>
            <td>$ {{ offer?.intFreeCash }}</td>
          </tr>
          <tr *ngIf="offer?.loanAmmount">
            <th>Loan Ammount</th>
            <td>$ {{ offer?.loanAmmount }}</td>
          </tr>
          <tr *ngIf="offer?.preclosureCharges">
            <th>Pre Closure Charges</th>
            <td>$ {{ offer?.preclosureCharges }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-primary" (click)="handleClick()">
          AVAIL OFFER
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <h2 class="text-center display-5 text-secondary">{{ name }}</h2>
    </div>
    <div class="col">
      <div class="text-end">
        <i
          class="bi bi-x-circle-fill btn rounded"
          style="font-size: 25px"
          (click)="close()"
        ></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 100">
          <div class="row">
            <div class="col">
              <div class="card-body">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                  sequi inventore maiores placeat cumque incidunt omnis labore
                  eius, sapiente perferendis ipsum tempora, quasi pariatur
                  distinctio blanditiis nesciunt. Sequi, quisquam repellat.
                  eius, sapiente perferendis ipsum tempora, quasi pariatur
                  distinctio blanditiis nesciunt. Sequi, quisquam repellat.
                </p>

                <table class="table table-borderless table-striped-columns">
                  <tbody>
                    <tr *ngIf="offer?.annualFee">
                      <th *ngIf="offer?.annualFee">Annual Fee</th>
                      <td class="table-success">SGD {{ offer?.annualFee }}</td>
                    </tr>
                    <tr *ngIf="offer?.interestRate">
                      <th>Interest Rate</th>
                      <td class="table-success">{{ offer?.interestRate }} %</td>
                    </tr>
                    <tr *ngIf="offer?.intFreeCash">
                      <th>Interest Free Cash</th>
                      <td class="table-success">
                        SGD {{ offer?.intFreeCash }}
                      </td>
                    </tr>
                    <tr *ngIf="offer?.loanAmmount">
                      <th>Loan Ammount</th>
                      <td class="table-success">
                        SGD {{ offer?.loanAmmount }}
                      </td>
                    </tr>
                    <tr *ngIf="offer?.preclosureCharges">
                      <th>Pre Closure Charges</th>
                      <td class="table-success">
                        SGD {{ offer?.preclosureCharges }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <a class="btn btn-primary w-50" (click)="handleClick()"
                    >Avail Offer</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <img
                class="card-img-top"
                src="assets/bank.jpg"
                alt="hello"
                height="400"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
